.tabs.block .tabs-list {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

.tabs.block .tabs-list button {
  flex: 1;
  margin: 0;
  border: none;
  background-color: var(--background-color);
  border-radius: 0;
  color: var(--text-color);
  padding: 8px 16px;
  font-size: unset;
  font-weight: bold;
  line-height: unset;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
  cursor: pointer;
  text-align: center;
}

.tabs.block .tabs-list button:first-of-type {
  border-radius: 0;
}

.tabs.block .tabs-list button:last-of-type {
  border-radius: 0;
}

.tabs.block .tabs-list button[aria-selected='true'] {
  border-bottom: 3px solid var(--link-color);
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: initial;
}

.tabs.block .tabs-list button[aria-selected='false']:hover,
.tabs.block .tabs-list button[aria-selected='false']:focus {
  text-decoration: underline;
}

.tabs.block .tabs-panel {
  margin-top: -1px;
  padding: 16px;
  border: none;
  border-radius: 0;
  overflow: auto;
}

.tabs.block .tabs-panel[aria-hidden='true'] {
  display: none;
}
